.wd-tabs li {
    display: inline;
}

.wd-tabs {
    padding-left: 0px;
}

.wd-selected {
    border-bottom: 2px blue solid;
    padding-bottom: 20px;
}

.wd-nudge-up {
    bottom: 6px;
    left: 25px;
}

.wd-bottom-2 {
    bottom: 2px;
}

.wd-bottom-4 {
    bottom: 4px;
}

.auto-complete-background{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-image: url(https://www.shutterstock.com/shutterstock/videos/1057847131/thumb/11.jpg?ip=x480);
    background-size: cover;
    border-radius: 21px;
    margin-bottom: 30px;
}

.search-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60vh;
    background-color: #fff;
    border-radius: 21px;
}

.search-bar-input {
    width: 100%;
    height: 50px;
    padding: 0 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 21px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    outline: none;
}



.wd-nudge-up {
    bottom: 1335px;
    left: auto;
    z-index: 10;
}


.div-realtive{
    position: relative;
}

.text-position{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 30px;

}

.image-container{
    display: flex;
    justify-content: center;
    gap: 16px;
    overflow-x: auto;
    white-space: nowrap;
}
